#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME         HEADERS
#							PORT	PORT(S)		DEST		LIMIT		GROUP
?SECTION ALL
?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW

## GLOBAL ACCEPT Rules go here:
ACCEPT  net					fw	tcp	21,80,443
ACCEPT  $GWDMN					fw	all     -
ACCEPT  $ALTSRC					fw	all     -

## ICMP Rules go here:
ACCEPT  net				    fw	icmp

#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
